html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #273344 !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #feca05 !important;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 150px;
}

.nav-link {
  color: #ffffff !important;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px !important;
}

.nav-link i {
  font-size: 24px;
  color: #ffffff;
}

main {
  flex: 1;
}

.pokedex-header {
  position: relative;
  height: 550px;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  color: #000000;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.pokedex-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/pokedex-header.jpeg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

@media (max-width: 768px) {
  .pokedex-header {
    height: 300px;
    padding: 10px;
  }
}

.header-h1 {
  font-size: 65px;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #feca05;
  padding-top: 20px;
  margin: 0;
  text-align: center;
  text-shadow: 3.5px 3.5px #2f5ea4;
  padding-bottom: 0.1px;
}

.header-h1::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 8px auto;
}

.text-b {
  text-align: center;
  color: #ffffff;
  font-family: "Bruno Ace", sans-serif;
}

.pokemon {
  display: flex;
  clear: center;
  width: 450px; /* Adjusted width */
  text-align: center;
  height: 55px;
  margin-right: 10px;
}

.searchButton {
  text-align: center;
  background-color: transparent;
  color: #feca05;
  border: 2px solid #feca05;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 0px;
}

.searchButton:hover {
  background-color: #feca05;
  color: #273344;
  border-color: #feca05;
}

/* Additional styles for stats */
#update_name,
#update_hp,
#update_cp,
#update_type,
#update_weight,
#update_height {
  color: #273344;
  font-size: 18px;
  font-family: "Bebas Neue", sans-serif;
  margin-right: 10px;
}

#res,
#pokeId {
  font-family: "Bruno Ace", sans-serif;
}

.stats-p {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Bebas Neue", sans-serif;
}

.pokeSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pokeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #feca05;
  border: 2px solid #ffffff;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  margin: 0 auto;
}

.pokeSearchResult {
  margin-bottom: 20px;
}

.pokeStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#front {
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-top: 20px;
  align-items: center;
}

/* FOOTER CSS */
footer {
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #feca05;
  height: auto;
  width: 100vw;
  font-family: "Bebas Neue", sans-serif;
  padding-top: 0px;
  color: #ffffff;
  margin-top: auto;
}

footer hr {
  border: 2px solid #ffffff;
  margin-top: 0;
  margin: 0;
  padding: 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

/* Rest of your CSS remains unchanged */

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.socials li {
  margin: 0 10px;
}

.contactinfo-li {
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: #273344;
}

.footer-bottom {
  background: #feca05;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
  border: black;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: black;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.newsletter-section {
  display: flex;
  align-items: center;
}

.newsletter-section form {
  display: flex;
  gap: 10px;
}

.input-group input {
  width: 275px;
  height: 50px;
}

.input-group button {
  background-color: #273344;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
}

.footer-h3 {
  margin-right: 10px;
  font-size: 18px;
  align-items: center;
  display: flex;
}

.contactinfo-h3 {
  font-size: 18px;
  align-items: center;
  display: flex;
}

.footer-bottom {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

footer input {
  font-family: sans-serif;
}

.input placeholder {
  font-family: "Bebas Neue" sans-serif;
}
